.main {
	background-color: var(--work-color);
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	align-items: center;
	background-color: white;
	border-bottom: solid 2px var(--brand-color);
	display: flex;
	justify-content: space-between;
	padding: 8px 12px;
}

.header h2 {
	align-items: center;
	cursor: pointer;
	display: flex;
	gap: 4px;
}

.headerButtons {
	display: flex;
	gap: 10px;
}

.title {
	flex-grow: 1;
	font-size: 1.5em !important;
	font-weight: bold;
	margin: 0 12px;
	text-align: center;
}

@media screen and (max-width: 800px) {
	.header {
		flex-wrap: wrap;
	}

	.title {
		margin: 8px 0 0 0;
		order: 1;
		width: 100%;
	}
}
