:root {
	--brand-color: #8060c0;
	--brand-color-dark: #6860a0;
	--brand-color-highlight: #a080e0;
	--card-color-background: #f0f0f0;
	--card-color-text: black;
	--disabled-color: #e0e0e0;
	--outer-color-text: #404040;
	--work-color: silver;
	--ui-border-radius: 4px;
	--ui-height: 32px;
	--ui-padding: 4px 12px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Quicksand", sans-serif;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

.btn {
	background-color: var(--brand-color);
	border: solid 2px transparent;
	border-radius: var(--ui-border-radius);
	color: white;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
	height: var(--ui-height);
	padding: var(--ui-padding);
	transition: background-color 0.25s;
}

.btn:hover {
	background-color: var(--brand-color-highlight);
}

.btn[disabled] {
	background-color: var(--disabled-color);
	pointer-events: none;
}

.text {
	border: solid 2px var(--brand-color);
	border-radius: var(--ui-border-radius);
	font-family: "Quicksand", sans-serif;
	font-size: 1em;
	height: var(--ui-height);
	padding: var(--ui-padding);
	transition: border-color 0.25s, color 0.25s;
}

.text:hover {
	border-color: var(--brand-color-highlight);
}

.text:focus {
	border-color: var(--brand-color-highlight);
	color: var(--brand-color-dark);
	outline: none;
}

a:link {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

* + p,
p + * {
	margin-top: 10px;
}

.brand {
	color: var(--brand-color);
	font-family: "BioRhyme", serif;
	font-size: 1.05em;
	font-weight: bold;
}

h2.brand {
	font-size: 1.5em;
}

.centerText {
	text-align: center;
}

/* Adapted from https://loading.io/css/ */
.lds-heart {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 40px;
	transform: rotate(45deg);
	transform-origin: 40px 40px;
}
.lds-heart div {
	top: 32px;
	left: 32px;
	position: absolute;
	width: 32px;
	height: 32px;
	background: var(--brand-color);
	animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
	content: " ";
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	background: var(--brand-color);
}
.lds-heart div:before {
	left: -24px;
	border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
	top: -24px;
	border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.9);
	}
}
