:root {
	--brand-color: #8060c0;
	--brand-color-dark: #7060a0;
	--brand-color-highlight: #a080e0;
	--card-color-background: #f0f0f0;
	--card-color-text: black;
	--disabled-color: #e0e0e0;
	--outer-color-text: #404040;
	--work-color: #a0a0a0;
	--ui-border-radius: 4px;
	--ui-album-item-add-color: silver;
	--ui-album-item-background-color: var(--card-color-background);
	--ui-album-item-border-radius: 6px;
	--ui-album-item-padding: 10px;
	--ui-album-item-size: 300px;
	--ui-album-section-add-color: #f0f0f0;
	--ui-album-section-background-color: white;
	--ui-album-section-border-radius: 8px;
	--ui-album-section-padding: 10px 20px;
	--ui-height: 32px;
	--ui-padding: 4px 12px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Quicksand", sans-serif;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

* + p,
p + * {
	margin-top: 10px;
}

/* UTILITY CLASSES */

.btn {
	background-color: var(--brand-color);
	border: solid 2px transparent;
	border-radius: var(--ui-border-radius);
	color: white;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
	height: var(--ui-height);
	padding: var(--ui-padding);
	transition: background-color 0.25s;
}

.btn:hover {
	background-color: var(--brand-color-highlight);
}

.btn[disabled] {
	background-color: var(--disabled-color);
	pointer-events: none;
}

.select {
	border: solid 2px rgba(128, 128, 128, 0.5);
	border-radius: var(--ui-border-radius);
	cursor: pointer;
	font-family: "Quicksand", sans-serif;
	font-size: 1em;
	height: var(--ui-height);
	transition: border-color 0.25s, color 0.25s;
}

.select:hover {
	border-color: var(--brand-color-highlight);
	color: var(--brand-color-dark);
}

.select:focus,
.select.focus {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: var(--brand-color-highlight);
}

.select:focus-visible {
	color: var(--brand-color-dark);
	outline: none;
}

.text {
	border: solid 2px var(--brand-color);
	border-radius: var(--ui-border-radius);
	font-family: "Quicksand", sans-serif;
	font-size: 1em;
	height: var(--ui-height);
	padding: var(--ui-padding);
	transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}

.text:hover {
	border-color: var(--brand-color-highlight);
}

.text:focus {
	border-color: var(--brand-color-highlight);
	color: var(--brand-color-dark);
	outline: none;
}

.text.in-place {
	background-color: rgba(255, 255, 255, 0.25);
	border: none;
	color: var(--brand-color-dark);
	height: auto;
}

.text.in-place:focus {
	background-color: white;
	color: var(--brand-color);
}

.text.in-place:hover {
	background-color: rgba(255, 255, 255, 0.25);
	color: var(--brand-color-highlight);
}

a:link {
	text-decoration: none;
}

.brand {
	color: var(--brand-color);
	font-family: "BioRhyme", serif;
	font-size: 1.05em;
	font-weight: bold;
}

h2.brand {
	font-size: 1.5em;
}

.centerText {
	text-align: center;
}

/* REUSABLE CLASSES */
.albumSection {
	align-items: flex-start;
	animation: appear 0.5s ease-in-out;
	background-color: white;
	border-radius: var(--ui-album-section-border-radius);
	display: flex;
	flex-wrap: wrap;
	font-family: "Quicksand", sans-serif;
	gap: 10px;
	justify-content: center;
	padding: var(--ui-album-section-padding);
	transition: background-color 0.25s, border-color 0.25s, color 0.25s;
	width: 100%;
}

.albumSection > h2 {
	font-size: 1.25rem;
	text-align: center;
	width: 100%;
}

.albumCard {
	background-color: var(--ui-album-item-background-color);
	border-radius: var(--ui-album-item-border-radius);
	height: var(--ui-album-item-size);
	padding: var(--ui-album-item-padding);
	width: var(--ui-album-item-size);
}

.modalBG {
	align-items: center;
	animation: appear 0.25s ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.modal-generic {
	align-items: center;
	background-color: var(--ui-album-section-background-color);
	border-radius: var(--ui-album-section-border-radius);
	display: flex;
	flex-direction: column;
	margin: 20px;
	max-width: 300px;
	padding: var(--ui-album-section-padding);
	width: calc(100vw - 40px);
}

.modal-generic > div {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

.modal-generic > h1,
.modal-generic > h2,
.modal-generic > h3,
.modal-generic > h4,
.modal-generic > h5 {
	color: var(--brand-color-dark);
}

.modal-generic > input,
.modal-generic > .select {
	margin-top: 4px;
	width: 100%;
}

/* Adapted from https://loading.io/css/ */
.lds-heart {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 40px auto;
	transform: rotate(45deg);
	transform-origin: 40px 40px;
}
.lds-heart div {
	top: 32px;
	left: 32px;
	position: absolute;
	width: 32px;
	height: 32px;
	background: var(--brand-color);
	animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
	content: " ";
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	background: var(--brand-color);
}
.lds-heart div:before {
	left: -24px;
	border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
	top: -24px;
	border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.9);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
