.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	min-height: 100vh;
}

.header {
	color: var(--outer-color-text);
}

.header h1 {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	min-height: 2em;
	margin-top: 10px;
	white-space: nowrap;
}

.cardHolder {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	max-width: 100%;
	padding: 20px;
	width: 100%;
}

.card {
	background-color: var(--card-color-background);
	border-radius: 6px;
	padding: 10px 20px;
	max-width: 400px;
	width: 100%;
}

.card h2 {
	color: var(--brand-color-dark);
}

.card button {
	margin: 10px;
}

.showFade > * {
	color: #606060;
	opacity: 0;
}

.fadeIn {
	opacity: 1;
	transition: opacity 2s ease-in-out;
}
