:root {
	--theme-sunshine-background: #4090c0;
	--theme-sunshine-button-disabled: #4078a0;
	--theme-sunshine-button-disabled-text: #5098c0;
	--theme-sunshine-section-cutout: #a0d0ff;
	--theme-sunshine-section-cutout-highlight: #b0e0ff;
	--theme-sunshine-section-cutout-hover: #60a8d8;
	--theme-sunshine-text: white;
	--theme-sunshine-title: #ffd040;
	--theme-sunshine-title-highlight: #ffe080;
	--theme-sunshine-workarea: #205080;
	--theme-sunshine-workarea-cutout: #4090c0;
	--theme-sunshine-workarea-cutout-highlight: #80d0ff;
	--theme-sunshine-workarea-cutout-hover: #3070a0;
}

.sunshineTheme .themeStandard {
	background-color: var(--theme-sunshine-background);
	color: var(--theme-sunshine-text);
}

.sunshineTheme .themeBordered {
	background-color: var(--theme-sunshine-background);
	border-color: rgba(255, 255, 255, 0.25);
	color: var(--theme-sunshine-text);
}

.sunshineTheme .themeTitle {
	color: var(--theme-sunshine-title);
}

.sunshineTheme .text.themeTitle:hover {
	color: var(--theme-sunshine-title-highlight);
}

.sunshineTheme .themeControl {
	background-color: white;
	color: black;
}

.sunshineTheme .themeSectionCutout {
	border-color: var(--theme-sunshine-section-cutout);
	color: var(--theme-sunshine-section-cutout);
}

.sunshineTheme .themeSectionCutout:hover {
	background-color: var(--theme-sunshine-section-cutout-hover);
	border-color: var(--theme-sunshine-section-cutout-highlight);
	color: var(--theme-sunshine-section-cutout-highlight);
}

.sunshineTheme .themeWorkArea {
	background-color: var(--theme-sunshine-workarea);
}

.sunshineTheme .themeWorkAreaCutout {
	border-color: var(--theme-sunshine-workarea-cutout);
	color: var(--theme-sunshine-workarea-cutout);
}

.sunshineTheme .themeWorkAreaCutout:hover {
	background-color: var(--theme-sunshine-workarea-cutout-hover);
	border-color: var(--theme-sunshine-workarea-cutout-highlight);
	color: var(--theme-sunshine-workarea-cutout-highlight);
}

.sunshineTheme .btn {
	background-color: var(--theme-sunshine-title);
}

.sunshineTheme .btn:hover {
	background-color: var(--theme-sunshine-title-highlight);
}

.sunshineTheme .btn[disabled] {
	background-color: var(--theme-sunshine-button-disabled);
	color: var(--theme-sunshine-button-disabled-text);
}

.sunshineTheme header .brand {
	background-color: white;
}
